.not-found{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  &__title {
    display: flex;
    font-size: 45px;
    line-height: 55px;
    font-weight: bold;
    text-align: center;
  
  }
  
  &__subtitle {
    display: flex;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
  }
}