.hero {
    transform-box: fill-box;
    transform-origin: 50% 50%
}
._1_set_chip_1 {
    animation: 5s linear 0s 1 normal forwards running _1_set_chip_1;
    transform-box: fill-box;
    transform-origin: 50% 50%
}
@keyframes _1_set_chip_1 {
    0% {
        transform: translateY(0px);
    }
    10% {
        transform: translateY(67px);
    }
    54% {
        transform: translateY(0px);
    }
    64% {
        transform: translateY(67px);
    }
}
._1_set_chip_2 {
    animation: 5s linear 0s 1 normal forwards running _1_set_chip_2;
    transform-box: fill-box;
    transform-origin: 50% 50%
}
@keyframes _1_set_chip_2 {
    0% {
        transform: translateY(0px);
    }
    10% {
        transform: translateY(-67px);
    }
    54% {
        transform: translateY(0px);
    }
    64% {
        transform: translateY(-67px);
    }
}
._1_set_chip_4 {
    animation: 5s linear 0s 1 normal forwards running _1_set_chip_4;
    transform-box: fill-box;
    transform-origin: 50% 50%
}
@keyframes _1_set_chip_4 {
    0% {
        transform: translateY(0px);
    }
    10% {
        transform: translateY(67px);
    }
    54% {
        transform: translateY(0px);
    }
    64% {
        transform: translateY(67px);
    }
}
._1_set_chip_3 {
    animation: 5s linear 0s 1 normal forwards running _1_set_chip_3;
    transform-box: fill-box;
    transform-origin: 50% 50%
}
@keyframes _1_set_chip_3 {
    0% {
        transform: translateY(0px);
    }
    10% {
        transform: translateY(-67px);
    }
    54% {
        transform: translateY(0px);
    }
    64% {
        transform: translateY(-67px);
    }
}
._1_set_chip_5 {
    animation: 5s linear 0s 1 normal forwards running _1_set_chip_5;
    transform-box: fill-box;
    transform-origin: 50% 50%
}
@keyframes _1_set_chip_5 {
    0% {
        transform: translateY(0px);
    }
    10% {
        transform: translateY(-67px);
    }
    54% {
        transform: translateY(0px);
    }
    64% {
        transform: translateY(-67px);
    }
}
._1_set_pin_1 {
    animation: 5s linear 0.75s 1 normal forwards running _1_set_pin_1;
    transform-box: fill-box;
    transform-origin: 50% 50%
}
@keyframes _1_set_pin_1 {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    15% {
        opacity: 1;
        width: 20px;
        height: 20px;
    }
    17% {
    ;
    }
    25% {
    ;
    }
    54% {
        opacity: 1;
    }
    58% {
        opacity: 0;
    }
}
._1_set_pin_3 {
    animation: 5s linear 0.1s 1 normal forwards running _1_set_pin_3;
    transform-box: fill-box;
    transform-origin: 50% 50%
}
@keyframes _1_set_pin_3 {
    2% {
        height: 20px;
        width: 20px;
    }
    4% {
        opacity: 0;
    }
    14% {
        opacity: 0;
    }
    18% {
        opacity: 1;
    }
    20% {
    ;
    }
    28% {
    ;
    }
    54% {
        opacity: 1;
    }
    58% {
        opacity: 0;
    }
}
._1_set_pin_2 {
    animation: 5s linear 0.1s 1 normal forwards running _1_set_pin_2;
    transform-box: fill-box;
    transform-origin: 50% 50%
}
@keyframes _1_set_pin_2 {
    2% {
        opacity: 0;
        height: 20px;
        width: 20px;
    }
    12% {
        opacity: 0;
    }
    16% {
        opacity: 1;
    }
    18% {
    ;
    }
    26% {
    ;
    }
    54% {
        opacity: 1;
    }
    58% {
        opacity: 0;
    }
}
._1_set_pin_4 {
    animation: 5s linear 0.1s 1 normal forwards running _1_set_pin_4;
    transform-box: fill-box;
    transform-origin: 50% 50%
}
@keyframes _1_set_pin_4 {
    2% {
        height: 20.09px;
        width: 20.09px;
    }
    6% {
        opacity: 0;
    }
    16% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    22% {
    ;
    }
    30% {
    ;
    }
    54% {
        opacity: 1;
    }
    58% {
        opacity: 0;
    }
}
._1_set_job_1 {
    animation: 5s linear 0.9s 1 normal forwards running _1_set_job_1;
    transform-box: fill-box;
    transform-origin: 50% 50%
}
@keyframes _1_set_job_1 {
    18% {
        transform: translateX(0px);
        width: 335px;
        height: 113px;
        opacity: 0;
    }
    26% {
        transform: translateX(80px);
    }
    28% {
        opacity: 1;
    }
    54% {
        transform: translateX(0px);
        opacity: 1;
    }
    62% {
        transform: translateX(70px);
        opacity: 0;
    }
}
._1_set_job_3 {
    animation: 5s linear 0s 1 normal forwards running _1_set_job_3;
    transform-box: fill-box;
    transform-origin: 50% 50%
}
@keyframes _1_set_job_3 {
    0% {
        width: 335px;
        height: 113px;
        opacity: 0;
    }
    23% {
        transform: translateX(0px);
        width: 335px;
        height: 113px;
        opacity: 0;
    }
    31% {
        transform: translateX(70px);
    }
    33% {
        opacity: 1;
    }
    54% {
        transform: translateX(0px);
        opacity: 1;
    }
    62% {
        transform: translateX(70px);
        opacity: 0;
    }
}
._1_set_job_4 {
    animation: 5s linear 0s 1 normal forwards running _1_set_job_4;
    transform-box: fill-box;
    transform-origin: 50% 50%
}
@keyframes _1_set_job_4 {
    0% {
        width: 335px;
        height: 113px;
        opacity: 0;
    }
    25% {
        transform: translateX(0px);
        width: 335px;
        height: 113px;
        opacity: 0;
    }
    33% {
        transform: translateX(70px);
    }
    35% {
        opacity: 1;
    }
    54% {
        transform: translateX(0px);
        opacity: 1;
    }
    62% {
        transform: translateX(70px);
        opacity: 0;
    }
}
._1_set_job_2 {
    animation: 5s linear 0s 1 normal forwards running _1_set_job_2;
    transform-box: fill-box;
    transform-origin: 50% 50%
}
@keyframes _1_set_job_2 {
    0% {
        width: 335px;
        height: 113px;
        opacity: 0;
    }
    21% {
        transform: translateX(0px);
        width: 335px;
        height: 113px;
        opacity: 0;
    }
    29% {
        transform: translateX(70px);
    }
    31% {
        opacity: 1;
    }
    54% {
        transform: translateX(0px);
        opacity: 1;
    }
    62% {
        transform: translateX(70px);
        opacity: 0;
    }
}
._2_set_chip_1 {
    animation: 5s linear 3s 1 normal forwards running _2_set_chip_1;
    transform-box: fill-box;
    transform-origin: 50% 50%
}
@keyframes _2_set_chip_1 {
    60% {
        transform: translateY(0px);
    }
    70% {
        transform: translateY(67px);
    }
}
._2_set_chip_2 {
    animation: 5s linear 3s 1 normal forwards running _2_set_chip_2;
    transform-box: fill-box;
    transform-origin: 50% 50%
}
@keyframes _2_set_chip_2 {
    60% {
        transform: translateY(0px);
    }
    70% {
        transform: translateY(-67px);
    }
}
._2_set_chip_3 {
    animation: 5s linear 3s 1 normal forwards running _2_set_chip_3;
    transform-box: fill-box;
    transform-origin: 50% 50%
}
@keyframes _2_set_chip_3 {
    60% {
        transform: translateY(0px);
    }
    70% {
        transform: translateY(-67px);
    }
}
._2_chip_4 {
    animation: 5s linear 3s 1 normal forwards running _2_chip_4;
    transform-box: fill-box;
    transform-origin: 50% 50%
}
@keyframes _2_chip_4 {
    60% {
        transform: translateY(0px);
    }
    70% {
        transform: translateY(67px);
    }
}
._2_set_chip_5 {
    animation: 5s linear 3s 1 normal forwards running _2_set_chip_5;
    transform-box: fill-box;
    transform-origin: 50% 50%
}
@keyframes _2_set_chip_5 {
    60% {
        transform: translateY(0px);
    }
    70% {
        transform: translateY(-67px);
    }
}
._2_set_pin_1 {
    animation: 5s linear 0s 1 normal forwards running _2_set_pin_1;
    transform-box: fill-box;
    transform-origin: 50% 50%
}
@keyframes _2_set_pin_1 {
    0% {
        width: 20px;
        height: 20px;
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    74% {
        width: 20px;
        height: 20px;
        opacity: 1;
    }
    76% {
    ;
    }
    84% {
    ;
    }
    92% {
        opacity: 1;
    }
    96% {
        opacity: 0;
    }
}
._2_set_pin_2 {
    animation: 5s linear 0s 1 normal forwards running _2_set_pin_2;
    transform-box: fill-box;
    transform-origin: 50% 50%
}
@keyframes _2_set_pin_2 {
    0% {
        width: 20px;
        height: 20px;
        opacity: 0;
    }
    73% {
        opacity: 0;
    }
    77% {
        width: 20px;
        height: 20px;
        opacity: 1;
    }
    79% {
    ;
    }
    87% {
    ;
    }
    92% {
        opacity: 1;
    }
    96% {
        opacity: 0;
    }
}
._2_set_pin_3 {
    animation: 5s linear 3.6s 1 normal forwards running _2_set_pin_3;
    transform-box: fill-box;
    transform-origin: 50% 50%
}
@keyframes _2_set_pin_3 {
    0% {
        width: 20px;
        height: 20px;
    }
    72% {
        opacity: 0;
    }
    76% {
        width: 20px;
        height: 20px;
        opacity: 1;
    }
    78% {
    ;
    }
    86% {
    ;
    }
    92% {
        opacity: 1;
    }
    96% {
        opacity: 0;
    }
}
._2_set_pin_4 {
    animation: 5s linear 0s 1 normal forwards running _2_set_pin_4;
    transform-box: fill-box;
    transform-origin: 50% 50%
}
@keyframes _2_set_pin_4 {
    0% {
        width: 20px;
        height: 20px;
        opacity: 0;
    }
    74% {
        opacity: 0;
    }
    78% {
        width: 20px;
        height: 20px;
        opacity: 1;
    }
    80% {
    ;
    }
    88% {
    ;
    }
    92% {
        opacity: 1;
    }
    96% {
        opacity: 0;
    }
}
._2_set_job_1 {
    animation: 5s linear 0s 1 normal forwards running _2_set_job_1;
    transform-box: fill-box;
    transform-origin: 50% 50%
}
@keyframes _2_set_job_1 {
    0% {
        height: 97px;
        width: 335px;
    }
    77% {
        opacity: 0;
        transform: translateX(0px);
    }
    85% {
        transform: translateX(70px);
    }
    87% {
        opacity: 1;
    }
    92% {
        opacity: 1;
        transform: translateX(0px);
    }
    100% {
        opacity: 0;
        transform: translateX(70px);
    }
}
._2_set_job_4 {
    animation: 5s linear 0s 1 normal forwards running _2_set_job_4;
    transform-box: fill-box;
    transform-origin: 50% 50%
}
@keyframes _2_set_job_4 {
    0% {
        opacity: 0;
        height: 113px;
    }
    77% {
        opacity: 0;
        transform: translateX(0px);
    }
    85% {
        transform: translateX(70px);
    }
    87% {
        opacity: 1;
    }
    92% {
        opacity: 1;
        transform: translateX(0px);
    }
    100% {
        opacity: 0;
        transform: translateX(70px);
    }
}
._2_set_job_3 {
    animation: 5s linear 0s 1 normal forwards running _2_set_job_3;
    transform-box: fill-box;
    transform-origin: 50% 50%
}
@keyframes _2_set_job_3 {
    0% {
        opacity: 0;
        height: 113px;
    }
    77% {
        opacity: 0;
        transform: translateX(0px);
    }
    85% {
        transform: translateX(70px);
    }
    87% {
        opacity: 1;
    }
    92% {
        opacity: 1;
        transform: translateX(0px);
    }
    100% {
        opacity: 0;
        transform: translateX(70px);
    }
}
._2_set_job_2 {
    animation: 5s linear 0s 1 normal forwards running _2_set_job_2;
    transform-box: fill-box;
    transform-origin: 50% 50%
}
@keyframes _2_set_job_2 {
    0% {
        opacity: 0;
        height: 113px;
    }
    77% {
        opacity: 0;
        transform: translateX(0px);
    }
    85% {
        transform: translateX(70px);
    }
    87% {
        opacity: 1;
    }
    92% {
        opacity: 1;
        transform: translateX(0px);
    }
    100% {
        opacity: 0;
        transform: translateX(70px);
    }
}